.logoLink {
  display: flex;
  align-items: center;
  text-decoration: none !important;
  margin-right: 1rem;
}

.logoLink:hover {
  text-decoration: none !important;
}

.logoText {
  font-size: 1.8rem;
  font-weight: 900;
  letter-spacing: 0.05em;
}
